/*reset */
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/* Variables */
:root {
  --font-trajan-bolded: "TrajanBolded", serif;
  --font-trajan: "Trajan", serif;
  --color-charcoal-black: #2c2c2c;
  --color-gold: #d4af37;
  --color-copper: #b87333;
  --color-off-white: #f8f4e3;
  --color-white: white;
  --color-dark-gray: #2c2c2c;
}

@font-face {
  font-family: "TrajanBolded";
  src: url("./assets/Font/TrajanP0.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Trajan";
  src: url("./assets/Font/TrajanP2.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--color-white);
  color: var(--color-charcoal-black); /* Charcoal Black Text */
  font-family: var(--font-trajan); /* Classy serif font */
}

h1,
h2,
h3 {
  font-family: var(--font-trajan-bolded); /* Classy serif font */
  color: var(--color-gold); /* Gold for Headings */
}

h2 {
  color: var(--color-copper);
}

a {
  color: var(--color-copper); /* Copper for links */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures it takes the full viewport height */
}

.content {
  flex: 1; /* Pushes the footer to the bottom */
}

footer {
  background-color: var(--color-dark-gray); /* Dark Gray for footer */
  color: var(--color-off-white); /* Off-white text in footer */
}
