.nav {
  background-color: #2c2c2c;
  display: flex;
  justify-content: space-around;
  align-items: center; /* Align items vertically */
  padding: 0.5rem 2rem;
  list-style: none; /* Remove bullets */
}

.title {
  font-size: 2rem;
  text-align: center; /* Center the text within the li */
  margin: 0;
}
