.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
  padding: 0.5rem 2rem;
  list-style: none; /* Remove bullets */
  width: 70%;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  text-align: center; /* Center the text within the li */
  margin: 0;
}
